extends _layouts/base

include _modules/link/link

block nav

block content
  .bg-gray-300
    .flex.flex-col.justify-center.h-screen.max-w-xl.shadow-2xl.mx-auto.bg-white.z-10.p-1
      .flex.flex-row.justify-center.content-center
        .mx-auto.font-hairline 哈尔滨东方Project同好会 - 冰都幻想乡
      .flex.flex-row.justify-center.content-center
        h1.text-4xl.font-black.text-pink-700.px-4 蓝莓树果蛋糕
          span.text-black 茶会
      .flex.flex-row.justify-center.content-center
        .w-64.p-8.my-8
          <svg viewBox="0 0 312 275" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M290.333 150.941C290.333 174.993 136.062 274.332 55.889 274.332C18.1457 230.782 0 174.993 0 150.941C0 126.889 71.5259 112.472 151.699 112.472C231.872 112.472 290.333 126.889 290.333 150.941Z" fill="#F2F2F2"/>
            <path d="M290.333 124.811C290.333 148.863 136.062 248.202 55.889 248.202C18.1457 204.652 0 148.863 0 124.811C0 100.759 71.5259 86.3416 151.699 86.3416C231.872 86.3416 290.333 100.759 290.333 124.811Z" fill="#F2F2F2"/>
            <path d="M290.333 104.487C290.333 128.539 136.062 227.879 55.889 227.879C18.1457 184.329 0 128.539 0 104.487C0 80.4354 71.5259 66.0182 151.699 66.0182C231.872 66.0182 290.333 80.4354 290.333 104.487Z" fill="#F2F2F2"/>
            <path d="M290.333 66.7441C290.333 90.7961 136.062 190.136 55.889 190.136C18.1457 146.586 0 90.7961 0 66.7441C0 42.6921 71.5259 28.275 151.699 28.275C231.872 28.275 290.333 42.6921 290.333 66.7441Z" fill="#F2F2F2"/>
            <path d="M290.333 44.9691C290.333 69.0211 136.062 168.361 55.889 168.361C18.1457 124.811 0 69.0211 0 44.9691C0 20.9172 71.5259 6.5 151.699 6.5C231.872 6.5 290.333 20.9172 290.333 44.9691Z" fill="#F2F2F2"/>
            <path d="M95.8099 50.382C95.8099 55.1277 70.3552 74.7283 57.1266 74.7283C50.899 66.1355 47.905 55.1277 47.905 50.382C47.905 45.6363 59.7067 42.7917 72.9353 42.7917C86.1639 42.7917 95.8099 45.6363 95.8099 50.382Z" fill="#F2F2F2"/>
            <path d="M95.8099 43.1236C95.8099 47.8693 70.3552 67.47 57.1266 67.47C50.899 58.8771 47.905 47.8693 47.905 43.1236C47.905 38.378 59.7067 35.5333 72.9353 35.5333C86.1639 35.5333 95.8099 38.378 95.8099 43.1236Z" fill="#F2F2F2"/>
            <path d="M127.747 111.352C127.747 116.098 102.292 135.698 89.0633 135.698C82.8357 127.105 79.8416 116.098 79.8416 111.352C79.8416 106.606 91.6434 103.762 104.872 103.762C118.101 103.762 127.747 106.606 127.747 111.352Z" fill="#F2F2F2"/>
            <path d="M127.747 104.094C127.747 108.839 102.292 128.44 89.0633 128.44C82.8357 119.847 79.8416 108.839 79.8416 104.094C79.8416 99.3479 91.6434 96.5033 104.872 96.5033C118.101 96.5033 127.747 99.3479 127.747 104.094Z" fill="#F2F2F2"/>
            <path d="M216.298 50.382C216.298 55.1277 190.843 74.7283 177.615 74.7283C171.387 66.1355 168.393 55.1277 168.393 50.382C168.393 45.6363 180.195 42.7917 193.424 42.7917C206.652 42.7917 216.298 45.6363 216.298 50.382Z" fill="#F2F2F2"/>
            <path d="M216.298 43.1236C216.298 47.8693 190.843 67.47 177.615 67.47C171.387 58.8771 168.393 47.8693 168.393 43.1236C168.393 38.378 180.195 35.5333 193.424 35.5333C206.652 35.5333 216.298 38.378 216.298 43.1236Z" fill="#F2F2F2"/>
            <path d="M312 118.311C312 142.363 157.729 241.702 77.5557 241.702C39.8124 198.152 21.6667 142.363 21.6667 118.311C21.6667 94.2588 93.1925 79.8416 173.366 79.8416C253.539 79.8416 312 94.2588 312 118.311Z" fill="#AB7CC0"/>
            <path d="M312 97.9874C312 122.039 157.729 221.379 77.5557 221.379C39.8124 177.829 21.6667 122.039 21.6667 97.9874C21.6667 73.9354 93.1925 59.5182 173.366 59.5182C253.539 59.5182 312 73.9354 312 97.9874Z" fill="#FDFACD"/>
            <path d="M312 60.2441C312 84.2961 157.729 183.636 77.5557 183.636C39.8124 140.086 21.6667 84.2961 21.6667 60.2441C21.6667 36.1921 93.1925 21.775 173.366 21.775C253.539 21.775 312 36.1921 312 60.2441Z" fill="#BDCCF2"/>
            <path d="M312 38.4691C312 62.5211 157.729 161.861 77.5557 161.861C39.8124 118.311 21.6667 62.5211 21.6667 38.4691C21.6667 14.4172 93.1925 0 173.366 0C253.539 0 312 14.4172 312 38.4691Z" fill="#AB7CC0"/>
            <path d="M117.477 43.882C117.477 48.6277 92.0219 68.2283 78.7933 68.2283C72.5657 59.6355 69.5716 48.6277 69.5716 43.882C69.5716 39.1363 81.3734 36.2917 94.602 36.2917C107.831 36.2917 117.477 39.1363 117.477 43.882Z" fill="#BDCCF2"/>
            <path d="M117.477 36.6236C117.477 41.3693 92.0219 60.97 78.7933 60.97C72.5657 52.3771 69.5716 41.3693 69.5716 36.6236C69.5716 31.878 81.3734 29.0333 94.602 29.0333C107.831 29.0333 117.477 31.878 117.477 36.6236Z" fill="#310E38"/>
            <path d="M149.413 104.852C149.413 109.598 123.959 129.198 110.73 129.198C104.502 120.605 101.508 109.598 101.508 104.852C101.508 100.106 113.31 97.2616 126.539 97.2616C139.767 97.2616 149.413 100.106 149.413 104.852Z" fill="#BDCCF2"/>
            <path d="M149.413 97.5936C149.413 102.339 123.959 121.94 110.73 121.94C104.502 113.347 101.508 102.339 101.508 97.5936C101.508 92.8479 113.31 90.0033 126.539 90.0033C139.767 90.0033 149.413 92.8479 149.413 97.5936Z" fill="#310E38"/>
            <path d="M237.965 43.882C237.965 48.6277 212.51 68.2283 199.282 68.2283C193.054 59.6355 190.06 48.6277 190.06 43.882C190.06 39.1363 201.862 36.2917 215.09 36.2917C228.319 36.2917 237.965 39.1363 237.965 43.882Z" fill="#BDCCF2"/>
            <path d="M237.965 36.6236C237.965 41.3693 212.51 60.97 199.282 60.97C193.054 52.3771 190.06 41.3693 190.06 36.6236C190.06 31.878 201.862 29.0333 215.09 29.0333C228.319 29.0333 237.965 31.878 237.965 36.6236Z" fill="#310E38"/>
          </svg>
      .flex.flex-row.justify-center.content-center.my-8
        a(href="https://wx.duohui.co/event/8653")
          button(class=['bg-pink-500','hover:bg-pink-700','text-white','font-bold','py-2','mx-4','rounded','w-32','font-hairline']) 我要报名
        a(href="https://blog.ith.moe/")
          button(class=['bg-transparent','hover:bg-pink-600','text-pink-700','font-semibold','hover:text-white','font-hairline','py-2','mx-4','border','border-pink-500','hover:border-transparent','rounded','w-32']) 了解详情
      .flex.flex-row.justify-center.content-center.my-6
        .flex.flex-col.justify-center.content-center
          p.text-xs.font-hairline.text-gray-500 加入我们的群
          p.text-xs.font-hairline.text-gray-500 97828913 (冰都幻想乡) 、808766396 (橙舞团群)

    div(class=['z-0','absolute','hidden','sm:hidden','md:hidden','lg:block','xl:block','bottom-0','left-0','bg-gray-100','p-4','m-2','rounded','shadow-2xl'])
      .flex.flex-col.justify-center
        .flex.flex-row.justify-center.content-center.text-xs.py-1 访问手机版
        .flex.flex-row.justify-center.content-center.text-xs.py-1
          img(src="images/webqr.png" width="80")